html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

.header {
    margin-bottom: 20px;
    height: 100vh;
}

.brand {
    font-family: 'Antonio', sans-serif;
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}

.background-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center top; 
    filter: brightness(0.9);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.semi-transparent-button {
    display: inline-block;
    font-family: 'Antonio', sans-serif;
    padding: 15px 30px;
    margin-right: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    border-radius: 2px;
    margin: 0;
    transition: border-color 0.3s ease, background-color 0.3s ease;
}

.semi-transparent-button:hover {
    border-color: rgba(255, 255, 255, 0.7);
    background-color: white;
    color: black;
}

.heading {
    font-size: 5rem; 
    color: #fff; 
    margin-bottom: 20px;
    font-family: 'Antonio', sans-serif;
}

.svg {
    width: 30px;
    height: 30px;
}

#features {
    background-color: #9BBEC8;
}

@keyframes color-change {
    0% {
        color: initial; 
    }
    50% {
        color: grey; 
    }
    100% {
        color: initial; 
    }
}

.quote {
    animation: color-change 1s infinite;
}

#About {
    background-color: #FFFFEC;
    padding: 40px;
}

.about-section {
    padding: 50px 0;
}

.about-section img {
    max-width: 300px;
    height: auto;
    border-radius: 50%;
    padding: 10px;
    border: 1px solid #000;
}

.info-cont {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    margin: 0;
}

.City {
    padding-bottom: 10px;
}

.city-cont {
    padding: 10px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

.thankyou-heading {
    font-family: 'Abril Fatface', serif;
    padding-top: 20px;
    font-size: 28px;
    color: #4285f4; 
}

.thankyou-message {
    font-size: 14px;
    color: #333;
}

@media (max-width: 768px) {
    .bg-white {
        background-color: #fff;
    }
    .about-section {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}